

 
 .btn:hover{
    color: rgb(14, 1, 1);
   background-color: #48a569;
   }
   .btn{
    background-color: #1f7f41;
   }
   @media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}


.icon-square {
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
  background:#dcfce7;
}

img{
  width: 90%;
  height: 100%;
  padding: auto;
}


@media (min-width: 1200px) {
  .container{
      max-width: 800px;
  }
}
 