

 
 .btn:hover{
    color: rgb(210, 202, 202);
   background-color: #f1f5f9;
   }
 
   @media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}


.icon-square {
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
  background:#dcfce7;
}

img{
  width: 90%;
  height: 100%;
  padding: auto;
}


@media (min-width: 1200px) {
  .container{
      max-width: 800px;
  }
}
 